*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }

.header {
    padding: 24px 124px 24px 124px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.header-logo {
    font-weight: 600;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    gap: 16px;
    }

a {
    text-decoration: none;
    color: white;
}

.hero {
    padding: 24px 124px 124px 124px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
    }

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    margin-bottom: 8px;
}

.button {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 8px 24px;
    background-color:#3882F6 ;
}

.hero-right {
   width: 1200px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
}

.info {
    text-align: center;
    margin-bottom: 120px;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 36px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    margin-bottom: 64px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 160px;
}

.info-box {
    height: 160px;
    width: 160px;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
   
}

.quote {
    background-color: #E5E7EB;
    padding: 124px 124px 124px 124px;
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}

.quote-container {
    display: flex;
    flex-flow: column;
    width: 800px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
}

.quote-sign {
   text-align: right;
   font-size: 1.3rem;
   font-weight: 500;
}

.call-to {
    padding: 24px 124px 124px 124px;
}

.call-to-container {
    padding: 40px 100px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.call-to-container .button {
    border: solid 2px white;
    flex-shrink: 0;
    flex-direction: 0;
}