*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }

.header {
    padding: 24px 124px 24px 124px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.header-logo {
    font-weight: 600;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    gap: 16px;
    }

a {
    text-decoration: none;
    color: white;
}

.hero {
    padding: 24px 124px 24px 124px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 36px;
    }

.hero-left h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-left p {
    margin-bottom: 8px;
}

.button {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 8px 16px;
    background-color:#3882F6 ;
}

.hero-right {
   width: 1200px;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 200px;
}

.info {
    text-align: center;
}

.info h2 {
    margin-bottom: 36px;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    

}

.info-box {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 8px;
    margin-bottom: 8px;
   
}