*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    }

.header {
    padding: 24px 124px 24px 124px;
    display: flex;
    align-items: center;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
}

.header-logo {
    font-weight: 600;
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    gap: 16px;
    }

a {
    text-decoration: none;
    color: white;
}
